# Don't track content of these folders:
CPP/result_csv/
CPP/bin/

#Vim
*.swp

# Compiled Source (C++):
*.o
*.a

# Computed results
*.csv

#Compiled Source (LaTeX):
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run
*.xml
*.toc
*.pdf

#Ignore CMAKE
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
